include README.md
include multi_asset.md
include multi_token_interface.mligo
include impl/*.mligo
include tezos_mac_tests/start-sandbox.sh
include tezos_mac_tests/kill-sandbox.sh
include tezos_mac_tests/pytezos_mac_schema.txt